<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <title></title>
</head>

<body>
  <% if (user) {%>
    <% if (user.membership==="non-member" ) {%>
      <h1>WELCOME BACK <%= user.first_name %>
      </h1>
      <a href="/logout">LOG OUT</a>
      <table>
        <% for(let i=0; i < posts.length; i++) { %>
          <tr>
            <td>
              <%= posts[i].title %>
            </td>
          </tr>
          <tr>
            <td>
              <%= posts[i].post_body %>
            </td>
          </tr>
          <% } %>
      </table>
      <a href="/secret-signup">join the club...</a>
    <% } %>
    <% if (user.membership==="member" && !(user.admin)) {%>
      <h1>Welcome to the club <%= user.first_name %>
      </h1>
      <a href="/new-post">Create post</a>
      <a href="/logout">LOG OUT</a>
      <table>
        <% for(let i=0; i < posts.length; i++) { %>
          <tr>
            <td>
              <%= posts[i].title %>
            </td>
          </tr>
          <tr>
            <td>
              <%= posts[i].post_body %>
            </td>
          </tr>
          <tr>
            <td>
              <%= posts[i].formatted_timestamp %>
            </td>
          </tr>
          <tr>
            <td>
              <%= posts[i].user.username %>
            </td>
          </tr>
        <% } %>
      </table>
      <a href="/admin-signup">join the inner circle...</a>
    <% } %>
    <% if (user.admin === true) {%>
      <h1>Welcome to the club <%= user.first_name %>
      </h1>
      <a href="/new-post">Create post</a>
      <a href="/logout">LOG OUT</a>
        <table>
          <% for(let i=0; i < posts.length; i++) { %>
            <tr>
              <td>
                <%= posts[i].title %>
              </td>
              <td>
                <%= posts[i].post_body %>
              </td>
              <td>
                <%= posts[i].formatted_timestamp %>
              </td>
              <td>
                <%= posts[i].user.username %>
              </td>
              <td>
                <a href="<%= posts[i].delete_post_url %>">Delete Post</a>
              </td>
            </tr>
          <% } %>
        </table>
    <% } %>
    <% } else { %>
      <h1>please log in</h1>
      <h2 class="incorrect-password"></h2>
        <form action="/login" method="POST">
          <label for="username">Username</label>
          <input name="username" placeholder="username" type="text" />
          <label for="password">Password</label>
          <input name="password" type="password" />
          <button>Log In</button>
        </form>
      <h2>Not signed up:</h2>
      <a href="/signup_form">Sign up here:</a>
    <%}%>
</body>

</html>